/*=============== Страницы ================*/
.PAGE1 {
    display: block;
}
.PAGE2 {
    display: none;
} 




/*=============== Шрифты ===============*/
@font-face {
    font-family: 'F1';
    src: url('font/Magnifico.otf') format('opentype'); /* основной заголовочный шрифт */
}
@font-face {
    font-family: 'F2';
    src: url('font/Monocraft.otf') format('woff2'); /* шрифт для кнопок и меню */
}


/*=============== Сброс стилей ===============*/
* {
    box-sizing: border-box; /* упрощает расчёт размеров элементов */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* базовый шрифт */
}

body {
    min-height: 100vh; /* чтобы body занимал всю высоту экрана */
    background: radial-gradient(circle at top, #000000, #1b0814); /* фон */
    display: flex;
    justify-content: center; /* центрируем контент по горизонтали */
    color: #fff; /* цвет текста по умолчанию */
}

/* Убираем стандартную подсветку кнопок на мобиле */
button, a {
    -webkit-tap-highlight-color: transparent; 
    outline: none; 
}

button {
    -webkit-user-select: none; /* запрет на выделение текста */
    -webkit-touch-callout: none; /* запрет на контекстное меню на iOS */
}



/*===== Контейнер страницы =====*/
.PAGE1 {
    position: relative;
    width: 360px; /* фиксированная ширина для мобильного вида */
    text-align: center;
}

/*===== Логотип =====*/
.logo-button {
    margin-top: 100px;
    width: 100%;
    padding: 16px 0;
    font-size: 45px; /* размер текста */
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 3; /* чтобы был поверх тени */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.logo-button .vape,
.logo-button .juice {
    display: block; /* каждая строка на новой строке */
    line-height: 0.9; /* расстояние между строками */
}

.logo-button .vape {
    background: linear-gradient(90deg, #431043, #d34681);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* градиентный текст */
    font-family: 'F1', sans-serif;
}

.logo-button .juice {
    color: #f7f3eb;
    text-shadow: 0 0 15px rgb(255, 154, 2); /* лёгкая светящаяся тень */
    font-family: 'F1', sans-serif;
}

/* Тень текста */
.shadow {
    width: 100%;
    padding: 16px 0;
    color: #000000;
    font-size: 45px;
    font-family: 'F1', sans-serif;
    background: transparent;
    z-index: 2;
    position: absolute; /* изменено с relative на absolute для корректной тени */
    top: 99px; /* смещение тени */
    left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

/* Картинка логотипа */
.logo {
    margin-top: 80px;
    margin-bottom: -150px; /* сдвиг вниз */
    position: relative;
    top: -250px; /* сдвиг вверх для совмещения с текстом */
    z-index: 1;
    background: none;
}

.logo img {
    width: 220px; /* ширина картинки */
    max-width: 100%; /* адаптивность */
    z-index: 1;
    background: none;
}

.info1 {
    position: relative;
    top: -100px;
    font-size: 20px;
    font-family: 'F2', sans-serif;
    color: #ffffff;
    text-shadow: 0 0 15px rgb(255, 183, 2);
    z-index: 4;
}

/*===== Меню =====*/
.menu {
    background: linear-gradient(#070205af, #090307);
    border-radius: 47px; /* скругление углов */
    padding: 13px 0px;
    box-shadow: 0 0 25px rgba(255, 0, 255, 0);
    position: relative;
    top: -80px; /* поднимаем меню вверх */
    width: 70%;
    right: -55px;
    border: 1px radial-gradient(circle at top, #ff00ff, #800080);
}

.menu::before {
    content: "";
    position: absolute;
    inset: -1px;            /* толщина "тени" */
    border-radius: inherit;  /* повторяет форму блока */
    background: Linear-gradient(#070205, #290b1d, #af3482); /* цвет тени */
    opacity: 0.6;
    z-index: -1;  
}


.menu button {
    width: 80%;
    padding: 10px 1px;
    margin: 5px 1px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    background: #1b081466;
    border: 1px solid rgb(54, 2, 33);
    border-radius: 100px;
    cursor: pointer;
    text-shadow: 0 0 15px rgb(255, 183, 2);
    transition: 0.3s; /* плавное изменение при hover */
    font-family: 'F2', sans-serif;
}

.menu button:hover {
    background: rgba(255, 183, 2, 0.3);
    box-shadow: 0 0 15px rgb(255, 183, 2);
    border: 1px solid #ffffff;
}

/*===== Кнопка ДАЛЬШЕ =====*/
.next {
    width: 100%;
    padding: 16px 0;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fff;
    background: #1b081466;
    border: 1px solid rgb(54, 2, 33);
    border-radius: 100px;
    text-shadow: 0 0 15px rgba(255, 108, 255, 0.9);
    cursor: pointer;
    transition: 0.3s;
    font-family: 'F2', sans-serif;
}

.next:hover {
    background: #932f6375;
    box-shadow: 0 0 20px #932F63;
    border: 1px solid #ffffff
}
/*===================================*/





/*===============PAGE2===============*/
.PAGE2 {
    position: relative;
    width: 360px; /* фиксированная ширина для мобильного вида */
    text-align: center;
}

.info2 {
    position: relative;
    top: 60px;
    font-size: 20px;
    font-family: 'F2', sans-serif;
    color: #ffffff;
    text-shadow: 0 0 15px rgb(255, 183, 2);
    z-index: 4;
}


/*===========*/
.menu2 {
    max-width: 420px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: start;
}

.menu2 .elfbar {
    width: 70%;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    position: relative;
    right: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.menu2 .elfbar img {
    width: 100%;
    height: auto;
}

.menu2 .chaser {
    width: 70%;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.menu2 .chaser img {
    width: 100%;
    height: auto;
}

.menu2 .vozol {
    width: 70%;
    padding: 12px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    position: relative;
    right: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.menu2 .vozol img {
    width: 100%;
    height: auto;
}

.menu2 .hqd {
    width: 70%;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.menu2 .hqd img {
    width: 100%;
    height: auto;
}


.button-menu {
    display: flex;           /* включаем flex */
    justify-content: space-between; /* чтобы кнопки растянулись по краям */
    gap: 10px;               /* отступ между кнопками */
    width: 100%;             /* если нужно, чтобы занимало всю ширину родителя */
    margin-top: 20px;        /* отступ сверху */
}

.button-menu button {
    flex: 1;                 /* равная ширина кнопок */
    padding: 10px 0;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}


.button-menu .back{
    width: 50%;
    padding: 16px 0;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fff;
    background: #1b081466;
    border: 1px solid rgb(54, 2, 33);
    border-radius: 100px;
    text-shadow: 0 0 15px rgba(255, 108, 255, 0.9);
    cursor: pointer;
    transition: 0.3s;
    font-family: 'F2', sans-serif;

    border-top-left-radius: 20px;   /* верхний левый угол */
    border-bottom-left-radius: 20px;/* нижний левый угол */
    border-top-right-radius: 0;     /* верхний правый угол */
    border-bottom-right-radius: 0;  /* нижний правый угол */
}
.button-menu .next2 {
    width: 50%;
    padding: 16px 0;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fff;
    background: #1b081466;
    border: 1px solid rgb(54, 2, 33);
    border-radius: 100px;
    text-shadow: 0 0 15px rgba(255, 108, 255, 0.9);
    cursor: pointer;
    transition: 0.3s;
    font-family: 'F2', sans-serif;

    border-top-left-radius: 0px;   /* верхний левый угол */
    border-bottom-left-radius: 0px;/* нижний левый угол */
    border-top-right-radius: 20px;     /* верхний правый угол */
    border-bottom-right-radius: 20px;  /* нижний правый угол */
}
.button-menu button:hover {
    background: #932f6375;
    box-shadow: 0 0 20px #932F63;
    border: 1px solid #ffffff
}
