/*=====FONT=====*/
@font-face {
    font-family: 'F1';
    src: url('font/Magnifico.otf') format('opentype');
}

@font-face {
    font-family: 'F2';
    src: url('font/Monocraft.otf') format('woff2');
}
/*==============*/


/*==============================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    min-height: 100vh;
    background: radial-gradient(circle at top, #000000, #1b0814);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

button, a {
    -webkit-tap-highlight-color: transparent; 
    outline: none; 
}

button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

/*==============================*/


.PAGE1 {
    position: relative;
    width: 360px;
    text-align: center;
}

/*=====LOGO=====*/

.logo-button {
    width: 100%;
    padding: 16px 0;

    font-size: 45px;;

    background: transparent;
    cursor: pointer;
    z-index:3;
    position: relative;
    top: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-button .vape,
.logo-button .juice {
    display: block;   /* каждая строка — отдельный блок */
    line-height: 0.8; /* регулируем расстояние */
}
.logo-button .vape {
    background: linear-gradient(90deg, #431043, #d34681);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'F1', sans-serif;
}
.logo-button .juice {
    color: #f7f3eb;
    text-shadow: 0 0 15px rgb(255, 154, 2);
    font-family: 'F1', sans-serif;
}
.shadow {
    width: 100%;
    padding: 16px 0;
    color: rgb(0, 0, 0);
    font-size: 45px;;
    font-family: 'F1', sans-serif;
    background: transparent;
    z-index: 2;
    position: relative;
    top: -102px;
    right: -3px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: block;
    margin-bottom: -150px;
    text-align: center;
    position: relative;
    top: -250px;
    z-index: 1;
}

.logo img {
    width: 220px;
    max-width: 100%;
    z-index: 1;
}
/*==============*/


/*=====MENU=====*/
.menu {
    background: radial-gradient(circle at top, #000000, #1b0814);
    border-radius: 30px;
    padding: 25px 15px;
    box-shadow: 0 0 25px rgba(255, 0, 255, 0.2);
    margin-bottom: 0px;
    position: relative;
    top: -80px;
}

.menu button {
    width: 100%;
    padding: 18px 0;
    margin: 10px 0;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffffff;
    background: transparent;
    border: 1px solid rgba(255, 0, 255, 0.4);
    border-radius: 25px;
    cursor: pointer;
    text-shadow: 0 0 15px rgb(255, 183, 2);
    transition: 0.3s;
    font-family: 'F2', sans-serif;
}

.menu button:hover {
    background: rgba(255, 0, 255, 0.15);
    box-shadow: 0 0 15px rgba(255, 0, 255, 0.6);
}
/*==============*/


/*=====button NEXT=====*/
.next {
    width: 100%;
    padding: 16px 0;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #ffffff;
    background: transparent;
    border: 1px solid #ff6cff;
    border-radius: 30px;
    text-shadow: 0 0 15px rgba(255, 108, 255, 0.9);
    cursor: pointer;
    transition: 0.3s;
    font-family: 'F2', sans-serif;
}

.next:hover {
    background: rgba(255, 108, 255, 0.15);
    box-shadow: 0 0 20px rgba(255, 108, 255, 0.7);
}
/*=====================*/
